@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveDown {
    0% {
        transform: translateY(20px);
        opacity: 1;
    }

    50% {
        transform: translateY(10px);
        opacity: 0.7;
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}

.animate-move-down {
    animation: moveDown 1.5s infinite;
}

body {
    cursor: url('/cursor-32x32.png') 16 16, auto;
}

